<div class="view view-first image-box">
         <img  class="img-box" src="../images/2.png" />
         <div class="mask">
             
             <div class="thumbnail-image-category">LANDSCAPE</div>
             <div class="separator"></div>
             <div class="text-center thumbnail-image-name">Amazing moon</div>
             <a href="#" class="info">View</a>
         </div>
    </div>

     <div class="view view-first  image-box">
         <img class="img-box" src="../images/cv-kvadrat-png-8-54kb.png" />
         <div class="mask">
             <div class="thumbnail-image-category">BABY PHOTOS</div>
             <div class="separator"></div>
             <div class="text-center thumbnail-image-name">Baby Jacob</div>
             <a href="#" class="info">View</a>
         </div>
     </div>

     <div class="view view-first  image-box">
         <img  class="img-box" src="../images/portret-kvadrat-png-8-60kb.png" />
         <div class="mask">
             <div class="thumbnail-image-category">LANDSCAPE</div>
             <div class="separator"></div>
             <div class="text-center thumbnail-image-name">Amazing moon</div>
             <a href="#" class="info">View</a>
         </div>
     </div>

    <div class="view view-first image-box">
        <img  class="img-box" src="../images/2.png" />
        <div class="mask">
            <div class="thumbnail-image-category">LANDSCAPE</div>
            <div class="separator"></div>
            <div class="text-center thumbnail-image-name">Amazing moon</div>
            <a href="#" class="info">View</a>
        </div>
    </div>

    <div class="view view-first  image-box">
        <img class="img-box" src="../images/cv-kvadrat-png-8-54kb.png" />
        <div class="mask">
            <div class="thumbnail-image-category">BABY PHOTOS</div>
            <div class="separator"></div>
            <div class="text-center thumbnail-image-name">Baby Jacob</div>
            <a href="#" class="info">View</a>
        </div>
    </div>

    <div class="view view-first  image-box">
        <img  class="img-box" src="../images/portret-kvadrat-png-8-60kb.png" />
        <div class="mask">
            <div class="thumbnail-image-category">LANDSCAPE</div>
            <div class="separator"></div>
            <div class="text-center thumbnail-image-name">Amazing moon</div>
            <a href="#" class="info">View</a>
        </div>
    </div>

    <div class="view view-first image-box">
        <img  class="img-box" src="../images/2.png" />
        <div class="mask">
            <div class="thumbnail-image-category">LANDSCAPE</div>
            <div class="separator"></div>
            <div class="text-center thumbnail-image-name">Amazing moon</div>
            <a href="#" class="info">View</a>
        </div>
    </div>

    <div class="view view-first  image-box">
        <img class="img-box" src="../images/cv-kvadrat-png-8-54kb.png" />
        <div class="mask">
            <div class="thumbnail-image-category">BABY PHOTOS</div>
            <div class="separator"></div>
            <div class="text-center thumbnail-image-name">Baby Jacob</div>
            <a href="#" class="info">View</a>
        </div>
    </div>

    <div class="view view-first  image-box">
        <img  class="img-box" src="../images/portret-kvadrat-png-8-60kb.png" />
        <div class="mask">
            <div class="thumbnail-image-category">LANDSCAPE</div>
            <div class="separator"></div>
            <div class="text-center thumbnail-image-name">Amazing moon</div>
            <a href="#" class="info">View</a>
        </div>
    </div>

    <div class="view view-first image-box">
        <img  class="img-box" src="../images/2.png" />
        <div class="mask">
            <div class="thumbnail-image-category">LANDSCAPE</div>
            <div class="separator"></div>
            <div class="text-center thumbnail-image-name">Amazing moon</div>
            <a href="#" class="info">View</a>
        </div>
    </div>

    <div class="view view-first  image-box">
        <img class="img-box" src="../images/cv-kvadrat-png-8-54kb.png" />
        <div class="mask">
            <div class="thumbnail-image-category">BABY PHOTOS</div>
            <div class="separator"></div>
            <div class="text-center thumbnail-image-name">Baby Jacob</div>
            <a href="#" class="info">View</a>
        </div>
    </div>

    <div class="view view-first  image-box">
        <img  class="img-box" src="../images/portret-kvadrat-png-8-60kb.png" />
        <div class="mask">
            <div class="thumbnail-image-category">LANDSCAPE</div>
            <div class="separator"></div>
            <div class="text-center thumbnail-image-name">Amazing moon</div>
            <a href="#" class="info">View</a>
        </div>
    </div>

    <div class="view view-first image-box">
        <img  class="img-box" src="../images/2.png" />
        <div class="mask">
            <div class="thumbnail-image-category">LANDSCAPE</div>
            <div class="separator"></div>
            <div class="text-center thumbnail-image-name">Amazing moon</div>
            <a href="#" class="info">View</a>
        </div>
    </div>

    <div class="view view-first  image-box">
        <img class="img-box" src="../images/cv-kvadrat-png-8-54kb.png" />
        <div class="mask">
            <div class="thumbnail-image-category">BABY PHOTOS</div>
            <div class="separator"></div>
            <div class="text-center thumbnail-image-name">Baby Jacob</div>
            <a href="#" class="info">View</a>
        </div>
    </div>
    <div class="view view-first  image-box">
        <img  class="img-box" src="../images/portret-kvadrat-png-8-60kb.png" />
        <div class="mask">
            <div class="thumbnail-image-category">LANDSCAPE</div>
            <div class="separator"></div>
            <div class="text-center thumbnail-image-name">Amazing moon</div>
            <a href="#" class="info">View</a>
        </div>
    </div>

    <div class="view view-first image-box">
        <img  class="img-box" src="../images/2.png" />
        <div class="mask">
            <div class="thumbnail-image-category">LANDSCAPE</div>
            <div class="separator"></div>
            <div class="text-center thumbnail-image-name">Amazing moon</div>
            <a href="#" class="info">View</a>
        </div>
    </div>

    <div class="view view-first  image-box">
        <img class="img-box" src="../images/cv-kvadrat-png-8-54kb.png" />
        <div class="mask">
            <div class="thumbnail-image-category">BABY PHOTOS</div>
            <div class="separator"></div>
            <div class="text-center thumbnail-image-name">Baby Jacob</div>
            <a href="#" class="info">View</a>
        </div>
    </div>
    <div class="view view-first  image-box">
        <img  class="img-box" src="../images/portret-kvadrat-png-8-60kb.png" />
        <div class="mask">
            <div class="thumbnail-image-category">LANDSCAPE</div>
            <div class="separator"></div>
            <div class="text-center thumbnail-image-name">Amazing moon</div>
            <a href="#" class="info">View</a>
        </div>
    </div>
