<script type="text/javascript">
 $(document).ready(function(){
      $('.slider').slider({ indicators:false,transition:2000, interval:5000});
  });
</script>

<div class="proba col-sm-12" style="z-index: 9;position: absolute;top: 20%;">

          <header id="header">
            <h1>Gergana Kurukyuvlieva</h1>
            <nav style="background-color:transparent; box-shadow:none;margin:auto;width:550px">
              <ul>
                <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
                <li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
                <li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
              </ul>
            </nav>
          </header>
          <div class="col-sm-12" id="enter-button">
            <div class="text-center"> <a id="enter-button-icon" href="controller/home"><span class="label"> <span class="fa fa-3x fa-sign-in"></span></span></a> </div>
          </div>  
</div>


 <div class="slider fullscreen">
    <ul class="slides">
        <li>
            <img src="images/child-1-page-jpg-very-high-304kb.jpg"> <!-- random image -->
        </li>
        <li>
            <img src="images/peizaj-jpg-very-high-365kb.jpg"> <!-- random image -->
        </li>
      <li>
        <img src="images/cv-1-page-jpg-high-192-kb.jpg"> <!-- random image -->
      </li>
        <li>
            <img src="images/portret-1-page-jpg-very-high-420-kb.jpg"> <!-- random image -->
        </li>
        <li>
            <img src="images/semeina-snimka-high-jpg-330kb.jpg"> <!-- random image -->
        </li>
    </ul>
 </div>   